
.footer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto; 
  background-color: var(--background-color);
  color: #fff;
   margin-top: 40rem;
  text-align: center;
  
}