
:root{
  --background-color: #181d1f;
  --blue-color: #0776a1;


  --font-title: 1.3rem;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

body{
  padding-bottom: 200px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

button{
  cursor: pointer;
}



@media (min-width: 768px){
  body {
    height: 100vh;
  }
}